hr {

    background-color:black;
    border-style: double none  ;
    border-color: #3f3401;
    border-width: 10px;
    
    
    height: 10px;
    margin: 0;
    padding: 20px;
    position: relative;
    top:64px;
    
    
    
    width: 80%; 

    
    
}

h1 {
    
    color:#88a6fff2;
    /* width: max-content; */

                    
                    
}





body {
    background-color:black;

}




p{
    color: snow;
    font-family: fantasy;
    color: #88a6fff2;
}




form{
    background:#88a6fff2;
    margin: 0px;
    border-radius: 13%;
    left: -5px;
    position: relative;
    top: 50px;
}




label
{
    color: seashell;
    display: table-cell;
}


#telefonZindex
{
   
    position: relative;
    top: 46px;
    z-index: +1; 
}




.hrOne{
    background-color: black;
    border-style: inset;
    border-color: rgba(36, 0, 113, 0.49);
    border-width: 48px;
    height: 0px;
    margin: 0px;
    padding: 20px;
    position: relative;
    top: 0px;
    width: 20%;
}

.phoneEmoji
{
    position: relative;
    top: -150px;
    margin: -26px;
    width: 136px;
    height: 80px;
    top: -133px;
}









